<h1>Thank you, <%= @user.first_name %>!</h1>
  <p>
    You have successfully purchased the <%= @purchase.bundle_name %> bundle for $<%= @purchase.amount %>. Tracking information and more details will be on the way soon.
  </p>
<p>With love, Iris Lune
</p>