<h1>Thank you, <%= @user.first_name %>!</h1>
  <p>
  This email confirms your order #<%= @purchase.order_id %><br><br>

  1x Iris Lune <%= @purchase.bundle_name %> ($<%= @purchase.amount %>)<br><br>

  Due to COVID-19, I have temporarily stopped shipping out orders. As soon as this craziness is over I will be mailing you your package! If you'd prefer to get a refund just let me know. Otherwise, in the meantime, check out the links below and don't be a stranger 🖤<br><br>

  <%# I typically send these out on the 15th and 30th of each month, so expect to get it in a few business days after. In the meantime, check out the links below and don't be a stranger 🖤<br><br> %>

  <a href="https://nethunt.co/api/v1/track/link/click/5cb1cb8dd23c1b3d70fba65a/1575136205927/?link=https%3A%2F%2Fopen.spotify.com%2Fartist%2F1IgffkHwmfiDbyYCFTKVsT%3Fsi%3DpmmkT0_ERwiWamrWiuNzDQ">Follow Iris Lune on Spotify</a><br>
  <a href="https://www.instagram.com/iris_lune">Follow Iris Lune on Instagram</a><br>
  <a href="https://www.facebook.com/groups/lunetribe">Lunetribe Private Facebook Group</a><br>
  <a href="https://lunetribe.irislune.com/secret-lune">Iris Lune Secret Webpage</a><br>
  <p>With love, Iris Lune<br><br>
</p>