<h1>Hi <%= @user.first_name %>,</h1>
  <p>
    Welcome to the <a href="https://www.facebook.com/groups/lunetribe/">Lunetribe</a>!</p>
  <p>The Lunetribe is an amazing community of fans who share my musical journey and get access to special livestreams and merch opportunities.</p>
  <p>But first things first, let’s get you plugged into the exclusive Lunetribe community!</p>
  <p>As an official member, you are now invited to join the <a href="https://www.facebook.com/groups/lunetribe/">Lunetribe Facebook Group</a>! (enter confirmation code: 528)</p>
  <p>You’ll get tons of inside info, behind the scenes content, livestreams & music. I’m proud to have you as a part of my loyal fanbase, and most   importantly, excited for the opportunity to connect with you personally.</p>
  <p>Thanks so much for supporting my music. It truly means the world to me... You’re amazing!</p>
  <p>Talk soon,<br>
    Iris Lune 🌠</p>
  </p>